
var port = 8888;
const express = require('express'),
  app = express(),
  bodyParser = require('body-parser'),
  path = require('path'),
  fs = require('fs');;
 
app.set('views','./static/pages');
app.set('view engine', 'jade');
app.use(express.static(path.join(__dirname,'./static')));
 
app.get('/image', function (req, res) {
  var files =fs.readdirSync('./static/images');
  res.render('index',{  
    title:'标题' , 
    contentTitle: 'Hello World', 
    imgs:files,  
    description:'我的图片'  
  })  